.features_wrapper {
    background-color: rgba(20, 110, 180, 0.05);
    top: -90px;
    width: 100%;

    display: flex;
    position: relative;

}

.cards {
    margin: 0px 160px 0px 160px;
    display: flex;
    gap: 60px;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 352px;
}

.img {
    margin-top: 76px;
    margin-bottom: 36px;
}

.title {
    font-family: Galano-medium;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
}

.card_desc {
    font-family: Galano-regular;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 64px;
}